.todo-container {
    border: 1px solid #ddd;
    border-radius: 10%;
    padding: 50px;
    width: 300px;
    font-family: Arial, sans-serif;
    transition: scale 0.3s ease;
    margin: 80px;
}

.todo-container:hover {
    scale: 1.1;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-input input {
    flex: 1;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.todo-input button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.todo-input button:hover {
    background-color: #218838;
}

h1 {
    margin: 0;
}

.todo-items {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 0.05px solid #ffffff70;
}

.todo-item button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.todo-item button:hover {
    background-color: #c82333;
}
