.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: purple;
    margin: 10px;
}